<a href="https://colab.research.google.com/github/zilioalberto/Ciencia_De_Dados/blob/main/Aula_03_Ciencia_de_Dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alunos: Alberto Zilio
## Roni Pereira

In [13]:
 # 1. Importar a biblioteca pandas
import pandas as pd

In [14]:
 # 2. Carregar o dataset para o Colab
 # Peça para eles fazerem o upload do arquivo CSV para o ambiente do Colab (na aba de arquivos à esquerda)
 # e depois ajustar o nome do arquivo no código abaixo.
caminho_do_arquivo = '/content/tb_mercadoimob.csv' # <-- SUBSTITUIR AQUI

df = pd.read_csv(caminho_do_arquivo)

# Nova seção

In [15]:
# 3. Visualizar as primeiras linhas para entender a estrutura
print("--- Primeiras 5 linhas do dataset: ---")
display(df.head())

--- Primeiras 5 linhas do dataset: ---

,date_part,id,titulo,descricao,area,data_anuncio,id_fonte,num_andares,num_vagas_garagem,num_suites,...,complemento,logradouro,numero,precisao,ponto,lat,lon,data_tabela,is_outlier,latlong
0,12.0,7784,Florianópolis - Apartamento Padrão - Trindade,Excelente apartamento no bairro Trindade de 3 ...,91.0,2020-04-22 14:40:19,1189,0,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0,NaN
1,12.0,11420,Apartamento para venda possui 46 metros quadra...,O apartamento está localizado no bairro Centro...,46.0,2022-03-19 15:09:57,NEOV9P,7,2,1,...,NaN,Rua Irmão Joaquim,226.0,4.0,0101000020E61000002060ADDA354548C0755776C1E096...,-27.589367,-48.540706,2022-12-28,0,"-27.589367,-48.540706"
2,12.0,11432,"Apartamento com 3 dormitórios à venda, 75 m² p...",Ótimo Apartamento com 03 quartos à Venda no Ce...,75.0,2022-02-09 03:51:58,AP0234,0,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0,NaN
3,12.0,11444,APARTAMENTOFLORIANÓPOLIS,Apartamento Mobiliado com Vista Mar no Centro ...,80.0,2022-02-25 15:08:44,AP00443,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,0,NaN
4,12.0,11445,Apartamento para venda com 3 quartos em Centro...,"Apartamento com 3 dormitórios, sendo 1 suíte, ...",77.0,2022-02-20 14:30:14,22957,0,2,1,...,NaN,Avenida Rio Branco,476.0,4.0,0101000020E6100000AE9CBD33DA4648C053211E899797...,-27.592156,-48.553534,2022-12-28,0,"-27.592156,-48.553534"

In [16]:
 # 4. Obter um resumo das informações (tipos de dados e valores não nulos)
print("\n--- Informações gerais do dataset: ---")
df.info()

--- Informações gerais do dataset: ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9236 entries, 0 to 9235
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_part          9236 non-null   float64
 1   id                 9236 non-null   int64
 2   titulo             9236 non-null   object
 3   descricao          9231 non-null   object
 4   area               9236 non-null   float64
 5   data_anuncio       9236 non-null   object
 6   id_fonte           9236 non-null   object
 7   num_andares        9236 non-null   int64
 8   num_vagas_garagem  9236 non-null   int64
 9   num_suites         9236 non-null   int64
 10  num_banheiros      9236 non-null   int64
 11  num_quartos        9236 non-null   int64
 12  valor              9235 non-null   float64
 13  iptu               7429 non-null   float64
 14  taxa_condominial   7965 non-null   float64
 15  contato            7369 non-null   float64
 16  link_anuncio       9236 non-null   object
 17  fonte              9236 non-null   object
 18  tipo_imovel        9236 non-null   object
 19  tipo_negocio       9236 non-null   object
 20  tipo_uso           9236 non-null   object
 21  estado_construcao  1 non-null      float64
 22  imovel_lancamento  9236 non-null   bool
 23  bl_temporada       0 non-null      float64
 24  data_raspagem      9236 non-null   object
 25  hash               9236 non-null   object
 26  bl_ativo           9236 non-null   bool
 27  estado_sigla       9236 non-null   object
 28  cidade             9236 non-null   object
 29  bairro_tratado     9236 non-null   object
 30  cep                9234 non-null   float64
 31  complemento        2761 non-null   object
 32  logradouro         5760 non-null   object
 33  numero             3118 non-null   float64
 34  precisao           3707 non-null   float64
 35  ponto              3707 non-null   object
 36  lat                3707 non-null   float64
 37  lon                3707 non-null   float64
 38  data_tabela        9236 non-null   object
 39  is_outlier         9236 non-null   int64
 40  latlong            3707 non-null   object
dtypes: bool(2), float64(13), int64(7), object(19)
memory usage: 2.8+ MB

In [17]:
# 5. Obter estatísticas descritivas para colunas numéricas (ajuda a ver médias, desvios e possíveis outliers)
print("\n--- Estatísticas Descritivas: ---")
display(df.describe())

--- Estatísticas Descritivas: ---

,date_part,id,area,num_andares,num_vagas_garagem,num_suites,num_banheiros,num_quartos,valor,iptu,taxa_condominial,contato,estado_construcao,bl_temporada,cep,numero,precisao,lat,lon,is_outlier
count,9236.0,9236.000000,9236.000000,9236.000000,9236.000000,9236.000000,9236.000000,9236.000000,9.235000e+03,7.429000e+03,7.965000e+03,7.369000e+03,1.0,0.0,9.234000e+03,3118.000000,3707.000000,3707.000000,3707.000000,9236.0
mean,12.0,35213.123322,167.759311,1.000000,1.682330,1.016674,2.442832,2.073841,1.271227e+06,5.710714e+03,1.944799e+03,4.878245e+10,2.0,NaN,8.801532e+07,481.634381,3.553547,-27.591784,-48.550656,0.0
std,0.0,9853.337544,357.116723,3.312459,3.907539,1.142449,2.022259,1.554623,4.444448e+06,1.407403e+05,3.069407e+04,2.459353e+09,NaN,NaN,4.095609e+03,2076.683008,0.774687,0.003517,0.005237,0.0
min,12.0,7784.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.400000e+02,0.000000e+00,0.000000e+00,1.194895e+10,2.0,NaN,8.801000e+07,0.000000,1.000000,-27.606396,-48.562050,0.0
25%,12.0,32845.000000,67.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.700000e+05,1.410000e+02,4.900000e+02,4.899129e+10,2.0,NaN,8.801501e+07,111.000000,3.000000,-27.594294,-48.554756,0.0
50%,12.0,38014.500000,109.000000,0.000000,1.000000,1.000000,2.000000,3.000000,9.000000e+05,8.280000e+02,8.000000e+02,4.899633e+10,2.0,NaN,8.801530e+07,215.000000,4.000000,-27.591598,-48.550054,0.0
75%,12.0,42464.250000,173.250000,0.000000,2.000000,2.000000,3.000000,3.000000,1.700000e+06,2.600000e+03,1.300000e+03,4.899918e+10,2.0,NaN,8.801564e+07,600.000000,4.000000,-27.589556,-48.546655,0.0
max,12.0,48979.000000,5776.000000,19.000000,76.000000,10.000000,34.000000,22.000000,3.900000e+08,5.416000e+06,1.980000e+06,5.199268e+10,2.0,NaN,8.812500e+07,78678.000000,4.000000,-27.578754,-48.534454,0.0

In [27]:
 # --- TRATANDO VALORES AUSENTES (NaN) --
# 1. Contar quantos valores ausentes existem em cada coluna
print("--- Contagem de valores ausentes por coluna: ---")
print(df.isnull().sum())

--- Contagem de valores ausentes por coluna: ---
id                   0
titulo               0
descricao            0
area                 0
data_anuncio         0
num_andares          0
num_vagas_garagem    0
num_suites           0
num_banheiros        0
num_quartos          0
valor                0
iptu                 0
taxa_condominial     0
tipo_imovel          0
tipo_negocio         0
cep                  0
dtype: int64

In [19]:
 # Para colunas de texto (categóricas), pode-se preencher com a moda (valor mais frequente) ou uma constante como 'Desconhecido'.
 # Definimos que substiutiriamos por Desconhecido

if 'descricao' in df.columns and df['descricao'].isnull().any():
  moda_descricao = "Desconhecido"
df['descricao'].fillna(moda_descricao, inplace=True)
print(f"Valores ausentes em 'descrição' preenchidos com a moda: {moda_descricao}")

Valores ausentes em 'descrição' preenchidos com a moda: Desconhecido

/tmp/ipython-input-3930692605.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['descricao'].fillna(moda_descricao, inplace=True)

In [20]:
# Estratégia B: Preencher valores ausentes do iptu com um valor específico (0)

if 'iptu' in df.columns and df['iptu'].isnull().any():
 moda_iptu = 0.0
 df['iptu'].fillna(moda_iptu, inplace=True)
 print(f"\nValores ausentes em 'iptu' preenchidos com a mediana: {moda_iptu}")

Valores ausentes em 'iptu' preenchidos com a mediana: 0.0

/tmp/ipython-input-1169123312.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['iptu'].fillna(moda_iptu, inplace=True)

In [21]:
# Estratégia B: Preencher valores ausentes do "Valor" com um valor específico (0)

if 'valor' in df.columns and df['valor'].isnull().any():
 moda_valor = 0.0
 df['valor'].fillna(moda_valor, inplace=True)
 print(f"\nValores ausentes em 'valor' preenchidos com a mediana: {moda_valor}")

Valores ausentes em 'valor' preenchidos com a mediana: 0.0

/tmp/ipython-input-3057831071.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['valor'].fillna(moda_valor, inplace=True)

In [22]:
# Estratégia B: Preencher valores ausentes do "Taxa_condominial" com um valor específico (0)

if 'taxa_condominial' in df.columns and df['taxa_condominial'].isnull().any():
 moda_taxa_condominial = 0.0
 df['taxa_condominial'].fillna(moda_taxa_condominial, inplace=True)
 print(f"\nValores ausentes em 'taxa_condominial' preenchidos com valor 0: {moda_taxa_condominial}")

Valores ausentes em 'taxa_condominial' preenchidos com valor 0: 0.0

/tmp/ipython-input-488089106.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['taxa_condominial'].fillna(moda_taxa_condominial, inplace=True)

In [23]:
# Remover as colunas que não terão impacto na nossa analise: 'contato' do DataFrame

df.drop(columns=['contato'], inplace=True)
df.drop(columns=['estado_construcao'], inplace=True)
df.drop(columns=['date_part'], inplace=True)
df.drop(columns=['id_fonte'], inplace=True)
df.drop(columns=['link_anuncio'], inplace=True)
df.drop(columns=['fonte'], inplace=True)
df.drop(columns=['tipo_uso'], inplace=True)
df.drop(columns=['imovel_lancamento'], inplace=True) # Removido pois somente existia um dado
df.drop(columns=['bl_temporada'], inplace=True)
df.drop(columns=['data_raspagem'], inplace=True)
df.drop(columns=['hash'], inplace=True)
df.drop(columns=['bl_ativo'], inplace=True)
df.drop(columns=['estado_sigla'], inplace=True)
df.drop(columns=['cidade'], inplace=True)
df.drop(columns=['bairro_tratado'], inplace=True)
df.drop(columns=['complemento'], inplace=True)
df.drop(columns=['precisao'], inplace=True)
df.drop(columns=['ponto'], inplace=True)
df.drop(columns=['data_tabela'], inplace=True)
df.drop(columns=['is_outlier'], inplace=True)
df.drop(columns=['logradouro'], inplace=True)
df.drop(columns=['numero'], inplace=True)
df.drop(columns=['lat'], inplace=True)
df.drop(columns=['lon'], inplace=True)
df.drop(columns=['latlong'], inplace=True)

In [24]:
 # Estratégia A: Remover linhas que contêm qualquer valor ausente
 # Removeremos as linhas que estão sem o CEP (3 registros somente)
df.dropna(subset=['cep'], inplace=True)

In [25]:
#Vamos deletar os dados correspondentes a aluguel na coluna tipo_negocio
df = df[df['tipo_negocio'] != 'Aluguel']

# Nova seção

# Nova seção

In [26]:
# Salvar o arquivo para verificar as alterações:
df.to_excel("dados_atualizados.xlsx", index=False)